.image-card{
    width: 25rem !important;
    height: 18rem !important;
    margin-top: 10px !important;
    margin-left: 50px !important;
    margin-right: 5px !important;
    margin-bottom: 10px !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.952);
}
.image-card:hover{
    background-color: rgb(228, 226, 226);
}

.card-img-top{
    width: 100% !important;
    height: 70% !important;
    object-fit: cover !important;
    margin-top: 2% !important;
    margin-bottom: 2% !important;
}

.top{
    background-color: white;
    font-size: medium;
    justify-content: center;
}

.image-card:hover{
    transform: scale(1.07);
}

.gallary-section {
    padding: 50px;
    text-align: center;
    font-family: fantasy;
  }

  .card-title-gallary{
      font-family: cursive;
  }