.home-section {
    padding: 50px;
    text-align: center;
    background-color: #e6571ed7;
    color: white
  }

  .home-body{
      margin-top: 10px;
      background-image: url("../Images/nature.jpg");
  }

  .home-card{
      width: 25rem;
      height: 20rem;
  }